.app {
  background-image: url("./assets/background.png");
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure the app covers full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.main-title {
  font-size: 2.5rem; /* Main title size */
  padding: 10px; /* Padding for the frame */
  display: inline-block; /* Center the frame */
  margin-bottom: 10px; /* Space below the main title */
}

.secondary-title {
  font-size: 1rem; /* Reduced font size */
  color: black; /* Make text black */
  font-weight: bold; /* Make text bold */
  font-family: 'Aron800', sans-serif; /* Use Aron800 font */
  max-width: 600px; /* Limit width for better readability */
  margin: 0 auto; /* Center the title */
  margin-bottom: 20px; /* Space below the secondary title */
}

html, body {
  height: 100%; /* Ensure body and html take full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-y: auto; /* Allows scrolling if content overflows */
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.success-message {
  color: green;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
/* Layout for the form and product list */
.layout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap; /* Allows the container to wrap content */
}
.exit-button {
  background-color: #dc3545;
  border-color: black;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

