.product-list-container {
    flex: 2;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px; /* Set a max height for the list */
    overflow-y: auto; /* Scrollable list */

    scrollbar-width: thin; /* Firefox custom scrollbar */
    scrollbar-color: #28a745 #ccc; /* Custom scrollbar colors for Firefox */
}

.product-list-container::-webkit-scrollbar {
    width: 10px;
}

.product-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Scrollbar background */
}

.product-list-container::-webkit-scrollbar-thumb {
    background-color: #28a745; /* Scrollbar color */
    border-radius: 10px;
    border: 3px solid #f1f1f1; /* Padding around scrollbar thumb */
}

/* Product list button and list */
.product-list-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.product-list-wrapper button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
}


.product-list {
    list-style-type: none;
    padding: 0;
    display: none; /* Hidden by default */
}

.show-product-list {
    display: block;
}

.product-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #28a745; /* green border around each product */
    border-radius: 5px; 
}

.product-item button {
    background-color: #dc3545;
    border-color: black;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}


